*.iml
MadinAndroid/.gradle
MadinAndroid/local.properties
MadinAndroid/.idea/gradle.xml
MadinAndroid/.idea/caches
MadinAndroid/.idea/libraries
MadinAndroid/.idea/modules.xml
MadinAndroid/.idea/workspace.xml
MadinAndroid/.idea/navEditor.xml
MadinAndroid/.idea/assetWizardSettings.xml
MadinAndroid/.DS_Store
MadinAndroid/build
MadinAndroid/captures
MadinAndroid/.externalNativeBuild
MadinAndroid/.cxx
MadinAndroid/local.properties
image